.mail-app {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10vh 80vh;
    grid-template-areas: "side-menu header" "side-menu .";
    background-color: #ffffff;
}

.mail-preview.read {
    background-color: #ffffff;
    width: 100vw;
}

.mail-filter {
    grid-area: header;
    background-color: #f1f3f4;
    display: flex;
    padding: 25px;
    /* justify-content: center; */
    gap: 10px;
    /* padding-left: 10px; */
    /* padding-r: 10px; */
}

.mail-header h1 {
    padding-left: 10px;
    padding-right: 10px;
}

.mail-side-menu {
    grid-area: side-menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
}

.gallery-mails {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    overflow: auto;
    margin-block-end: 0;
}

.mail-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
    padding: 10px;
    background-color: #ffffff;
}

.mail-preview {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100vw;
}

.read-logo {
    width: 30px;
}
.bin-logo {
    width: 30px;
}
.star-logo {
    width: 30px;
}