ul{
    padding-inline-start: 0;
  
}
.mail-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: lightcyan;
}

.mail-preview{
    display: flex;
    align-items: center;
    gap: 10px;
}


.mail-app{
    /* padding: 10px; */
}